<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.2-beta2" targetFramework="net45" />
  <package id="NUnit" version="3.6.0" targetFramework="net45" />
  <package id="SkiaSharp" version="1.60.2" targetFramework="net45" />
  <package id="SkiaSharp.Svg" version="1.60.0" targetFramework="net45" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="net45" />
  <package id="YamlDotNet" version="4.1.0" targetFramework="net45" />
</packages>